* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
:root {
    --color-primary: #202020;
    --color-primary-blue: #006AF5;
    --color-primary-grey: #90A3BF;
    --white: #fff;
    --good-yellow: #ffc501;
}

/*:root {*/
/*    --primary-blue-train: #0578ff;*/
/*    --primary-black-train: #202020;*/
/*    --white: #fff;*/
/*    --primary-grey: #90a3bf;*/
/*    --primary-black-train-50: rgba(32, 32, 32, 0.5);*/
/*    --primary-grey-50: rgba(144, 163, 191, 0.5);*/
/*    --good-yellow: #ffc501;*/
/*    --bg-gray: #f5f5f5;*/
/*    --green: #43a047;*/
/*    --red: #ff6060;*/
/*    --primary-blue-train-10: rgba(5, 120, 255, 0.1);*/
/*    --semantic-colors-primary,-contrast: #fff;*/
/*    --primary-black: #202020;*/
/*    --primary-blue: #0578ff;*/
/*    --secondary-text: rgba(27, 43, 65, 0.69);*/
/*    --semantic-colors-primary: #006af5;*/
/*    --primary-black-50: rgba(32, 32, 32, 0.5);*/
/*}*/

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-primary);
}
.homepage {
    background: linear-gradient(#F5F5F5, #DDECFF, #F5F5F5);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 32.5px;
    padding-bottom: 32.5px;
    height: 116px;
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
}

.header-container li:hover {
    transform: scale(1.04);
}

.burger-icon {
    height: 24px;
    display: none;
    flex-direction: column;
    gap: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.burger-icon .line1{
    width: 30px;
    height: 2px;
    background-color:  var(--color-primary-blue);
}

.burger-icon .line2{
    width: 16px;
    height: 2px;
    background-color:  var(--color-primary-blue);
}

.burger-icon .line3 {
    width: 30px;
    height: 2px;
    background-color:  var(--color-primary-blue);
}

.burger-icon.active .line1 {
    transform: rotate(45deg) translate(6px, 6px);
}

.burger-icon.active .line2 {
    opacity: 0;
}

.burger-icon.active .line3 {
    transform: rotate(-45deg) translate(7px, -7px);
}


.logo {
    font-size: 2.125rem;
    display: flex;
    align-items:  center;
    gap: 15px;
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content:  space-between;
    gap: 96px;
    text-align: center;
    list-style-type: none;
    font-size: 1.25rem;
}

.menu-item > a {
    text-decoration: none;
    color: var(--color-primary);
}

.signUp {
    font-weight: 600;
}
.homepage-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.left-side {
    width: 640px;
    height: auto;
}

.left-side > span {
    margin-top:  32px;
    color: var(--color-primary);
    font-size: 1rem;
}

.description {
    margin-top: 32px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    height: auto;
}

.journey-type {
    margin-top: 32px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 34px;
    grid-column: 1 / 3;
}

.person-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
}

input[type="radio"] {
    appearance: none;
    vertical-align: middle;
    background-color: var(--color-primary-grey);
    width: 18px;
    height: 18px;
    border-radius: 50px;
    margin: 0;
}

input[type="radio"]:checked {
    background-color: var(--color-primary-blue);
}

button {
    border: none;
    background: none;
    font-size: 1.25rem;
}

button:hover {
    cursor: pointer;
}

#minus {
    color: var(--color-primary-grey);
}

#plus {
    color: var(--color-primary-blue);
}

input[type="submit"] {
    grid-column: 1 / 3;
    height: 62px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary-blue);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.field-dates {
    grid-column: 1 / 3;
}

input[type="text"]{
    min-height: 53px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 24px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
    color: var(--color-primary-grey);
}
.field {
    display: flex;
    flex-direction: column;
}

.dates {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.dates > input {
    min-height: 53px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--color-primary-grey);
}

.dates > input:focus {
    outline: none;
}

.dates > input:valid {
    color: var(--color-primary);
}

.field > label {
    margin-bottom: 16px;
    color: var(--color-primary);
    font-weight: 600;
}

.field-dates {
    display: flex;
    flex-direction: column;
}

.field-dates > label {
    display: block;
    margin-bottom: 16px;
    color: var(--color-primary);
    font-weight: 600;
}

.interesting-fact {
    height: 224px;
    width: 100%;
    background-color: var(--color-primary-blue);
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
}

.statistics {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics > h2 {
    font-weight: 700;
    font-size: 3.125rem;
}

.statistics > span {
    font-weight: 500;
    font-size: 1.25rem;
}

.find-your-dream {
    padding-top: 128px;
    padding-left: 64px;
    padding-right: 64px;
}

.gallery {
    max-width: 100%;
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 32px;
    grid-auto-flow: dense;
    grid-template-areas:
    "a a b c c"
    "d d e e e";
}

.gallery img {
    width: 100%;
    height: 100%;
}

.first-part {
    grid-area: a;
}

.second-part {
    grid-area: b;
}

.third-part {
    grid-area: c;
}

.fifth-part {
    grid-area: d;
}

.fourth-part {
    grid-area: e;
}

.app {
    background-color: var(--good-yellow);
    margin-top: 128px;
    padding-left: 62px;
    padding-right: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 462px;
}

.app > h1 {
    padding-top: 116px;
}

.downloads {
    display: flex;
    flex-direction: row;
    gap: 125px;
    margin-top: 60px;
}

.FAQs {
    margin-top: 128px;
    padding-left: 177px;
    padding-right: 177px;
}

.accordion {
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--color-primary);
    padding: 16px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.faq-answer {
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 32px 0;
}


.contact-card-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 146px;
    background-color: var(--white);
    border-radius: 10px;
    border: 0.5px solid var(--color-primary);
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    color: var(--color-primary);
    font-weight: 400;
    margin-top: 20px;
}

.contact-card-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    color: var(--color-primary);
    font-weight: 400;
    margin-top: 20px;
}

.footer-container {
    background-color: var(--color-primary-blue);
    margin-top: -200px;
    padding-left: 64px;
    padding-right: 64px;
}

.footer-up {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 404px;
}

.logo-footer {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    font-size: 2.125rem;
    gap: 15px;
}


.links-container{
    display: flex;
    flex-direction: row;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: column;
}

.links > a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    padding-top: 24px;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}

.footer-down {
    color: var(--white);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 76px;
}

.burger-menu {
    height: calc(100dvh - 116px);
    background-color: var(--color-primary-blue);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.burger-menu nav {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding-inline: 32px;
}

.burger-menu nav a {
    color: var(--white);
    font-size: 3rem;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .burger-icon {
        display: flex;
    }
    .menu-list {
        display: none;
    }

    .header-container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .homepage-content-container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .image-form {
        display: none;
    }

    .interesting-fact {
        height: 384px;
    }

    .statistics-container {
        flex-wrap: wrap;
        padding-left: 131px;
        padding-right: 131px;
    }

    .statistics {
        padding-bottom: 40px;
    }

    .find-your-dream {
        padding-left: 32px;
        padding-right: 32px;
    }
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
      "a a a a"
      "d d d d"
      "b b c c"
      "e e e e";
    }

    .app {
        height: 509px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .downloads {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap:50px;
        row-gap: 30px;
    }

    .downloads .badge:first-child {
        grid-column: 1 / 3;
        justify-self: center;
    }

    .FAQs {
        padding-left: 32px;
        padding-right: 32px;
    }

    .contact-card-container {
        max-width: 464px;
    }
    .footer-container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .footer-up {
        flex-wrap: wrap;
    }

    .links {
        padding-top: 40px;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 2rem;
    }
    .logo > span {
        display: none;
    }


    .left-side {
        width: 320px;
    }


    .left-side > span {
        font-size: 0.6875rem;
    }

    .journey-type .trip-label {
        font-size: 0.75rem;
    }

    form {
        grid-template-columns: 1fr;
    }

    .journey-type,
    .field-dates,
    input[type="submit"] {
        grid-column: 1;
    }

    .journey-type {
        padding-left: 8px;
        padding-right: 8px;
    }

    .dates {
        flex-direction: column;
        gap: 1rem;
    }

    .statistics > h2 {
        font-size: 2.5rem;
    }

    .statistics > span {
        font-size: 1rem;
    }

    .statistics-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .find-your-dream {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "a"
            "d"
            "b"
            "b"
            "c"
            "c"
            "e";
    }

    .app > h1 {
        padding-top: 32px;
    }

    .app {
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
    }

    .downloads {
        display: flex;
        flex-direction: column;
    }

    .FAQs {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-card-container {
        max-width: 320px;
    }

    .contact-card-content {
        font-size: 1.25rem;
    }

    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .links-container {
        flex-wrap: wrap;
    }

    .burger-menu nav {
        margin-top: 64px;
        gap: 64px;
    }

    .burger-menu nav a {
        font-size: 2rem;
    }
}